*{
    align-self: center;
   
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    
}
table th,td{
    border: 1px solid black;
}
table th{
    background-color: gainsboro;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    gap: 20px;
  }
}
img{
    border: 20px solid purple;
}
video{
    height: 500px;
    width: 500px;
    border: 20px solid purple;
}
button{
    border: transparent;
    padding: 10px;
    background-color: purple;
    color: wheat;
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
   
}
@media (max-width:767px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
table {
    width: 600px;
    height: 200px;
    align-items: center;
}

.gridtem{
    background-color: gainsboro;
    padding: 20px;
    border: 1px solid black;

}